@import 'functions';
//custom colors:
$primary: #5265E1;
$secondary: #FA5959;

* {
    margin: 0;
    padding: 0;
}

/********************/
/* HERO SECTION*/
/********************/

.left-container {
    p {
        max-width: 25rem;
    }
}

.hero-img {

    max-inline-size: 100%;
    position: relative;
    
}

.background-figure {
    background-color: $primary;
    border-radius: 15rem 0 0 15rem;
    height: 16rem;
    width: 25rem;
    z-index: -1;
    max-inline-size: 100%;
    position: relative;
    margin-top: -16rem;
    margin-left: 10rem;
}


/********************/
/* FEATURES SECTION*/
/********************/
.section-features,
.section-download {
    margin-top: 1rem;

    p {
        max-width: 25rem;
    }
}


img.tab-img{
    max-inline-size: 100%;
    width: 20rem;
}
.tab-features {
     a {      text-decoration: none;
        color: black;
    }
li{
    padding: 1rem;
}
    li:hover {
        padding: 1rem;
        border-bottom: solid 3px $secondary;
      
    }
  
}
button.nav-link:hover{
   border:0cm
}
button.nav-link:active{
    border:0cm
 }
.background-figure-two {
    background-color: $primary;
    border-radius: 0 15rem 15rem 0;
    height: 16rem;
    width: 25rem;
    z-index: -1;
    max-inline-size: 100%;
    position: relative;
    margin-top: -16rem;
    margin-right: 10rem;
}

/********************/
/* DOWNLOAD SECTION (CARD CREATION)*/
/********************/
 
.card-wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.2rem;
    gap: 2rem;
    justify-content: center;

}

.download-card {
    box-shadow: 2px 2px 30px rgb(228, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;

}

img.card-img {
    width: 4rem;
}

.horizontal_dotted_line {
   border-bottom: 4px dotted rgb(230, 224, 224);
    width: 100%;
    gap: 5px;
    height:14px;
    overflow:hidden;
    

}

.second-card {
    margin-top: 2rem;
}

.third-card {
    margin-top: 4rem;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.list-icon{
    width: 2rem;
    height: 2.5rem;
    color:#555;
    filter: brightness(2);
}

//import function 
.centerFlex {
    @include flexCenter(column);
}



//import bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";


.nav-tabs .nav-link {
    margin-bottom: calc(var(--bs-nav-tabs-border-width)*-1);
    background: none;
    border: $primary;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
}
